%link{ href:"https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css", rel:"stylesheet", integrity:"sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB", crossorigin:"anonymous" }
%script{ src:"https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js", integrity:"sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI", crossorigin:"anonymous" }

- if !@alert.nil?
  - if @alert == 'success'
    .alert.alert-success 
      Succesfuly added your song to playlist
  - elsif @alert == 'error'
    .alert.alert-danger
      Something went wrong, maybe the url you privided was incorect?
  - elsif @alert == 'unknown'
    .alert.alert-warn 
      We cant find this song, you can try different provider.

.container.m-5
  .row
    .col-xl-8.col-12
      .card.m-1
        .card_body
          .card_title.m-3 Add next song to playlist, by submitting its url below (youtube / spotify):
          %hr
          .card_text.m-3
            %form{ action: "/song/new", method: "post", target: "_parent" }
              %label{ for: "song_url" } Url to song:
              %input{ type: "text", id: "song_url", name: "song_url", required: true, class: "w-50"}
              %input{ type: "submit", value: "Add Song"}
          %hr
          .row.mb-3
            .col-2.mx-auto.d-grid
              %a{href: "/player/pause", class: "btn btn-outline-primary" } ▶||
            .col-2.mx-auto.d-grid
              %a{href: "/player/next", class: "btn btn-outline-primary" } ▶▶|
            .col-2.mx-auto.d-grid
              %a{href: "/player/volume_down", class: "btn btn-outline-primary" } ▼
            .col-2.mx-auto.d-grid
              .btn.btn-outline-info.disabled= @volume
            .col-2.mx-auto.d-grid
              %a{href: "/player/volume_up", class: "btn btn-outline-primary" } ▲

    .col-xl-4.col-md-8.col-10
      - @schedule.each do |schedule|
        .card.song-card.m-1
          .row.g-0
            .col-3
              %img.m-2.card-img-top{ src: "/cover_images/#{schedule.song.id}.jpg", alt: schedule.song.title, style: "height: 100px; width: 100px !important;"  }
            .col-9
              .card-body
                .card-title= schedule.song.title
                .card-text= "#{schedule.song.artist} - #{schedule.song.album}"
                .card-text= "Duration: #{schedule.song.duration_string}"
